<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}Главная{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary" role="navigation">
                    <div class="container">
                        <button
                            class="navbar-toggler navbar-toggler-right"
                            type="button"
                            data-toggle="collapse"
                            data-target="#top-navbar"
                            aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home') }}">
                            Главная
                        </a>

                        <div class="navbar-collapse collapse" id="top-navbar">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('catalog') }}">
                                        Каталог
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);">
                                        Администрирование
                                    </a>
                                </li>

                                {% if app.user %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> Выход
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <div class="{% block body_container_class %}container body-container{% endblock %}">
            <div class="row{% block main_row_class %}{% endblock %}">
                {% block left_sidebar %}
                <div id="left-sidebar" class="{% block ls_class %}col-sm-3{% endblock %}">
                    {% block left_sidebar_content %}{% endblock %}
                </div>
                {% endblock %}

                {% block main %}
                <div id="main" class="{% block main_class %}col-sm-9{% endblock %}">
                    {% block main_content %}{% endblock %}
                </div>
                {% endblock %}
            </div>
        </div>

        {% block footer %}
            <footer class="bg-faded">
                <div class="container">
                    <div class="row justify-content-center">
                        <div id="footer-copyright" class="col col-auto">
                            <p>&copy; {{ 'now'|date('Y') }} - Andrew B.</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('js/tether.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>