{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block stylesheets %}
    {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
        <link rel="stylesheet" href="{{ asset(stylesheet) }}">
    {% endfor %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}