<div class="h3">Категории:</div>
<nav class="nav flex-column">
    {% for nav_category in categories %}
        <a href="{{ path('category', {'category': nav_category.id}) }}">{{ nav_category.name }}</a>
    {% endfor %}
</nav>