{% extends "base.html.twig" %}

{% block title %}Каталог{% endblock %}

{% block left_sidebar_content %}
    {% include 'catalog/_left_sidebar.html.twig' %}
{% endblock %}
{% block main_content %}
    <h1>Каталог</h1>
    <p>Выберите категорию товаров в меню слева
{% endblock %}