{% extends "base.html.twig" %}

{% block title %}{{ category.name }} - Каталог{% endblock %}

{% block left_sidebar_content %}
    {% include 'catalog/_left_sidebar.html.twig' %}
{% endblock %}
{% block main_content %}
    <h1>{{ category.name }}</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-4">
                <div class="product">
                    <div class="product_image">
                        <a href="{{ path('product', {'category': category.id, 'product': product.id}) }}">
                            <img class="img-fluid" src="{{ product.images[0] }}">
                        </a>
                    </div>
                    <div class="product__name">
                        <a href="{{ path('product', {'category': category.id, 'product': product.id}) }}">{{ product.name }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}