{% extends "base.html.twig" %}

{% block title %}{{ product.name }} - Каталог{% endblock %}

{% block left_sidebar_content %}
    {% include 'catalog/_left_sidebar.html.twig' %}
{% endblock %}
{% block main_content %}
    <h1>{{ product.name }}</h1>
    <div class="row product">
        <div class="col-sm-6">
            <div class="product_image">
                <img class="img-fluid" src="{{ product.images[0] }}">
            </div>
            <div class="product__field product__field--name">
                <span class="product__field-label">Название:</span> {{ product.name }}
            </div>
            <div class="product__field product__field--sku">
                <span class="product__field-label">Артикул:</span> {{ product.sku }}
            </div>
            <div class="product__field product__field--model">
                <span class="product__field-label">Модель:</span> {{ product.model }}
            </div>
            <div class="product__field product__field--model">
                <span class="product__field-label">Цена:</span> {{ product.price }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="product__properties">
                <h3>Характеристики:</h3>
                <table class="table table-bordered">
                {% for property in properties if properties_values[property.id] %}
                    <tr class="product__property">
                        <td class="product__property-name">{{ property.name }}</td>
                        <td class="product__property-value">{{ properties_values[property.id] }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-auto prev-next">
            {% if prev %}
                <a href="{{ path('product', {'category': prev.category.id, 'product': prev.id}) }}">
                    <i class="fa fa-arrow-left"></i> Предыдущий
                </a>
            {% endif %}
            {% if next %}
                <a href="{{ path('product', {'category': next.category.id, 'product': next.id}) }}">
                    Следующий <i class="fa fa-arrow-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}