#left-sidebar {
    background-color: #eee;
}
.product {
    margin-top: 15px;
    margin-bottom: 15px;
}
.product__field-label,
.product__property-name {
    font-weight: bold;
}
.product-img {
    position: relative;
}
.product-img__popup {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    width: 600px;
}
.product-img:hover .product-img__popup {
    display: block;
}
.prev-next {
    margin-bottom: 30px;
}