{% extends 'base.html.twig' %}

{% block left_sidebar %}{% endblock %}
{% block main_class 'col-12' %}
{% block main_content %}
    <h1>Главная страница</h1>
    <p>Чтобы перейти к просмотру каталога, щёлкните ссылку "Каталог" в верхнем меню.
    <p>Чтобы перейти к редактированию продуктов или их характеристик, щёлкните "Администрирование".
    <h2>Последние добавленные товары:</h2>
    <div class="row">
        {% for product in latest_products %}
            <div class="col-sm-6 col-md-3">
                <div class="product">
                    <div class="product__image">
                        <img class="img-fluid" src="{{ product.images[0] | imagine_filter('grid_thumb') }}">
                    </div>
                    <div class="product__name">{{ product.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
