{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{%- block field %}
    {% spaceless %}
    {% if field_description.options.collapse is defined %}
        {% set collapse = field_description.options.collapse %}
        <div class="sonata-readmore"
              data-readmore-height="{{ collapse.height|default(40) }}"
              data-readmore-more="{{ collapse.more|default('read_more')|trans({}, 'SonataAdminBundle') }}"
              data-readmore-less="{{ collapse.less|default('read_less')|trans({}, 'SonataAdminBundle') }}">{{ value }}</div>
    {% elseif value %}
        <div class="product-img">
            <img src="{{ value[0] | imagine_filter('grid_thumb') }}">
            <div class="product-img__popup">
                <img src="{{ value[0] | imagine_filter('popup') }}">
            </div>
        </div>
    {% endif %}
    {% endspaceless %}
{% endblock -%}